body {
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", "Inter", Inter var, system-ui,
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 1.9em;
  line-height: 1.65em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #515151;
  background-color: #ffffff;
}

blockquote {
  line-height: 2.8rem;
}

.colorscheme-dark .navigation {
  background: #212121;
  border-bottom: 1px solid rgb(52, 58, 70);
}
.colorscheme-dark .dark-mode-icon {
  display: inline;
}
.colorscheme-dark .light-mode-icon {
  display: none;
}
.dark-mode-icon {
  display: none;
}
.light-mode-icon {
  display: inline;
}

.navigation {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
  position: sticky;
  background: #fafafa;
  top: 0;
  height: 7rem;
  z-index: 99;
}

@media (min-width: 1025px) {
  .navigation-list {
    /* margin-right: 200px; */
  }
}

.navigation-author {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation-author img {
  max-width: 50px;
  height: 50px;
  border-radius: 30%;
}
.navigation-avatar {
  display: inline-block !important;
  max-width: 50px;
  max-height: 50px;
}

.container {
  padding: 0.5rem 1rem;
  /* max-width: 100%; */
}

.navigation-avatar img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 30%;
}

.navigation-author .name {
  margin-left: 1rem;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 100;
}

.content article header {
  margin-top: 0.5rem;
}

.content .img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content .video {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.content video {
  max-width: 100%;
}

.content figcaption p {
  font-style: normal;
  font-size: 0.8em;
}

.content figure.gallery .img-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .content figure.gallery .img-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .content figure.gallery .img-container img {
    max-width: 99%;
  }
}

.img-border {
  border: 1px solid rgba(177, 177, 177, 0.76);
}

@media screen and (min-width: 768px) {
  .align-left {
    float: left;
    margin-right: 1em !important;
    margin-top: 1em !important;
  }
}

@media screen and (min-width: 768px) {
  .align-right {
    float: right;
    margin-left: 1em !important;
    margin-top: 1em !important;
  }
}

.notice {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  font-size: 0.8em !important;
  border-radius: 4px;
  text-indent: initial;
  clear: both;
}

.notice-info {
  background-color: #eef7fa;
  box-shadow: 0 1px 1px rgba(82, 173, 200, 0.25);
}

.notice-warning {
  background-color: #fef4e6;
  box-shadow: 0 1px 1px rgba(248, 148, 6, 0.25);
}

.notice-danger {
  background-color: #fdefef;
  box-shadow: 0 1px 1px rgba(238, 95, 91, 0.25);
}

.notice h5 {
  margin-top: 1rem;
}

h1 {
  margin-top: 0.5rem;
}

h2,
h3,
h4,
h5,
hr {
  clear: both;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: #707070;
}

h4 {
  font-size: 1.1em;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  color: #707070;
}

hr {
  margin-top: 50px;
}

article {
  word-wrap: break-word;
}

table {
  max-width: 100%;
  width: fit-content;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}

.hanchor {
  visibility: hidden;
  color: rgb(61, 155, 231);
}

.hanchor:hover {
  visibility: hidden;
  color: rgb(15, 81, 134);
}

h1:hover .hanchor,
h2:hover .hanchor,
h3:hover .hanchor,
h4:hover .hanchor {
  visibility: visible;
  text-decoration: none;
}

.subscribe-container {
  background: #f9f9f9;
  /* font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; */
  line-height: 1.5em;
  overflow: hidden;
  color: #666;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  clear: both;
  margin: 20px 0px;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.subscribe-container h3 {
  text-align: center;
  margin: 0px 0px 10px;
  font-size: 28px;
}

.subscribe-container form {
  background-color: inherit;
}

.subscribe-container .subscribe-container-inner {
  width: 100%;
  float: left;
  padding: 5%;
}

.subscribe-container input[type="text"],
.subscribe-container input[type="email"] {
  width: 100%;
  float: none;
  margin-top: 5px;
  font-size: 18px;
  padding: 10px 8px;
  border: 1px solid #d6d6d6; /* stroke */
  border-radius: 3px;
  background-color: #fff; /* layer fill content */
  margin-bottom: 5px;
  height: 42px;
}

.subscribe-container input[type="text"]:focus,
.subscribe-container input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
}

.subscribe-container .subscribe-topic {
  margin-top: 2rem;
}

.subscribe-container .subscribe-btn {
  width: 100%;
  float: none;
  margin-top: 5px;
  color: #fff;
  padding: 11px 0px;
  font-size: 18px;
  background: #0d6db8;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  text-shadow: none;
  height: 42px;
}

/* Honeypot to prevent bot signups */
.subscribe-container .ninja {
  position: absolute;
  top: -5000px;
  right: 0px;
}

.subscribe-container .subscribe-topic {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
}

.subscribe-container .success {
  display: none;
  background: #d3ffd6;
  border: 1px solid #2f5a32;
  color: black;
  padding: 1rem 5rem;
}

.subscribe-container .error {
  display: none;
  color: #963328;
  background: #fdd1bf;
  margin-top: 2rem;
  padding: 1rem 5rem;
  border: 1px solid #770000;
}

.honeypot {
  position: absolute;
  left: -5000px;
}

.btn-social {
  color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-right: 1rem;
}

.btn-social:hover {
  text-decoration: none;
}

.btn-social span {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn-social span {
    display: inline-block;
  }
}

.btn-twitter {
  background-color: #007bb6;
}

.btn-twitter:hover {
  background-color: #016594;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-facebook:hover {
  background-color: #264079;
}

.btn-linkedin {
  background-color: #007bb6;
}

.btn-linkedin:hover {
  background-color: #016796;
}

.btn-hacker-news {
  background-color: #ff6600;
}

.btn-hacker-news:hover {
  background-color: #c95609;
}

.btn-reddit {
  background-color: #ff5700;
}

.btn-reddit:hover {
  background-color: #e24d02;
}

.btn-indie-hackers {
  background-color: rgb(32, 59, 85);
}

.btn-indie-hackers:hover {
  background-color: rgb(44, 92, 131);
}

.btn-indie-hackers i {
  background-image: url("/images/social/indie-hackers.svg");
  background-position: center;
}

.btn-social span {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn-social span {
    display: inline-block;
  }
}

.inline-file {
  clear: both;
  margin-bottom: 65px;
}

.inline-file .download-raw-button {
  border-width: 1px;
  border-style: solid;
  border-color: #f2f3f3;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  background-color: #fafafa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  margin-top: -20px;
  z-index: 10;
  position: relative;
  padding: 0.5em 1em;
  float: right;
  margin-left: 1em;
  font-size: 0.6875em;
}

.list ul li .date {
  text-align: left;
  margin: 0;
}

.list img {
  object-fit: contain;
}

.posts-list li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 3rem 0 6rem 0 !important;
  border-bottom: 1px solid rgba(177, 177, 177, 0.623);
}

@media screen and (min-width: 768px) {
  .posts-list li {
    flex-direction: row;
    padding-bottom: 2rem !important;
  }
}

.posts-list .img-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .posts-list .img-wrapper {
    display: block;
    margin-right: 2.5rem;
    min-width: 280px;
    max-width: 280px;
  }
}

.posts-list li img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .posts-list li img {
    max-height: 200px;
  }
}

.posts-list li h2 {
  margin: 0rem 0 0.5rem 0 !important;
}

.book-reports-list li {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .book-reports-list li {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .book-reports-list li .summary {
    display: flex;
    flex-direction: row;
  }
}

.book-reports-list li .title {
  font-size: 1.1em !important;
  text-decoration: none;
}

.book-reports-list .img-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .book-reports-list .img-wrapper {
    justify-content: flex-start;
    margin-right: 2.5rem;
    min-width: 260px;
    max-width: 260px;
  }
}

.book-reports-list .full-review-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  background-color: rgb(225, 255, 208);
  border: 1px solid rgb(119, 197, 119);
  padding: 1rem 2rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .book-reports-list .full-review-link {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .book-report .book-cover {
    max-width: 300px;
    padding-right: 1rem;
    margin: 0 3rem 0 0 !important;
  }
}

.twitter-tweet {
  margin: 0 auto;
}

.footer .creative-commons-license {
  margin-top: 1rem;
}

.footer ul {
  list-style: none;
  margin: 3rem 0 1rem;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  position: relative;
}

.footer ul li a {
  color: #212121;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.douban {
  position: relative;
  top: 4px;
}

.zhihu {
  font-size: 2rem;
}

.rss {
  position: relative;
  top: 0.2rem;
}

.footer {
  padding-bottom: 4rem;
}

.notes-li .date {
  margin-top: -40px !important;
}

.gray-card {
  color: #555;
  opacity: 0.5;
  font-size: 0.8em;
}

/* .DocSearch {
  font-size: 16px;
} */

/* 搜索框样式 */

.nav-search-box {
  position: fixed;
  right: 1rem;
  top: 16px;
  z-index: 100;
}

.aa-Autocomplete .aa-DetachedSearchButton {
  border: none;
  background: none;
  cursor: pointer;
}

.aa-DetachedSearchButtonIcon {
  cursor: pointer !important;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

.aa-ItemContentBody {
  margin: 10px 0;
  padding: 0 12px;
  font-size: 2rem;
}

.aa-ItemContentTitle {
  line-height: 2rem;
  margin-bottom: 6px !important;
}

.aa-List .aa-ItemLink {
  display: flex;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 1025px) {
  .nav-search-box {
    right: 42px;
    top: 14px;
  }
  .aa-ItemContentDescription {
    overflow-x: visible !important;
  }
}
