{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
<section class="container list">
  <h1 class="title">{{ .Title }}</h1>

  {{ $pages := where .Site.RegularPages "Section" "in" (slice "posts" "notes" "book-reports") }}
  {{ $pages = where $pages "Lang" .Page.Lang }}
  {{ $pages = where $pages ".Date" "ne" nil }}
  
  {{ if gt (len $pages) 0 }}
    {{ range $pages.GroupByDate "2006" }}
    {{ if ne .Key "0001" }}
    <div class="archive-year">
      <h2 class="archive-year-header">{{ .Key }}</h2>
      <ul>
        {{ range .Pages.ByDate.Reverse }}
        <li>
          <span class="date">{{ .Date.Format "01-02" }}: </span>
          <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ end }}
  {{ else }}
    <p>No content found.</p>
  {{ end }}
</section>

<style>

.archive-year {
  margin-bottom: 2rem;
}

.archive-year-header {
  margin: 1.5rem 0 1rem;
  font-weight: 600;
}

.list ul {
  margin-top: 0rem;
}

.list ul li .date {
  min-width: 5rem;
  width: auto;
}

</style>
{{ end }} 