<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-adsense-account" content="ca-pub-6892599483138014">
    <meta name="theme-color" content="#FFFFFF" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="baidu-site-verification" content="codeva-N6XyUZdoxp" />
    <link rel="apple-touch-icon" href="/images/avatar.avif" />
    {{ with .Site.Params.author }}
      <meta name="author" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.description }}
      <meta name="description" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Params.keywords }}
      <meta name="keywords" content="{{ . }}" />
    {{ end }}

    {{ partial "twitter-card.html" . }}
    {{ partial "opengraph.html" . }}

    {{ if .Permalink }}
      <base href="{{ .Permalink }}" />
    {{ end }}
    <title>{{ block "title" . }}{{- .Site.Title -}}{{ end }}</title>

    {{ if .Params.canonical_url }}
      <link rel="canonical" href="{{ .Params.canonical_url }}" />
    {{ else if .Permalink }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ end }}
    
       <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin />
    <link rel="preconnect" href="//www.gstatic.com" crossorigin />
    
    <link rel="stylesheet" href="/third-party/google-fonts/css/style.css" />
    <link
      rel="stylesheet"
      media="print" 
      onload="this.media='all'"
      href="/third-party/font-awesome/v5.11.2/css/all.css"
    />

    
    {{ if .HasShortcode "zestful-ad" }}
      <link
        rel="stylesheet"
        href="{{ .Site.BaseURL }}/css/zestful.css"
        media="screen"
      />
    {{ end }}
    {{ if .HasShortcode "tinypilot-ad" }}
      <link
        rel="stylesheet"
        href="{{ .Site.BaseURL }}/css/tinypilot.css"
        media="screen"
      />
    {{ end }}
    {{ if .HasShortcode "htfp-ad" }}
      <link
        rel="stylesheet"
        href="{{ .Site.BaseURL }}/css/htfp.css"
        media="screen"
      />
    {{ end }}

    {{ if .Site.IsServer }}
      {{ $cssOpts := (dict "targetPath" "css/coder.css" "enableSourceMap" true ) }}
      {{ $styles := resources.Get "scss/coder.scss" | resources.ExecuteAsTemplate "style.coder.css" . | toCSS $cssOpts }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen" />
    {{ else }}
      {{ $cssOpts := (dict "targetPath" "css/coder.css" ) }}
      {{ $styles := resources.Get "scss/coder.scss" | resources.ExecuteAsTemplate "style.coder.css" . | toCSS $cssOpts | minify | fingerprint }}
      <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
        crossorigin="anonymous"
        media="screen"
      />
    {{ end }}

    {{ if .Site.Params.rtl }}
      {{ if .Site.IsServer }}
        {{ $cssOpts := (dict "targetPath" "css/coder-rtl.css" "enableSourceMap" true ) }}
        {{ $styles := resources.Get "scss/coder-rtl.scss" | resources.ExecuteAsTemplate "style.coder-rtl.css" . | toCSS $cssOpts }}
        <link
          rel="stylesheet"
          href="{{ $styles.RelPermalink }}"
          media="screen"
        />
      {{ else }}
        {{ $cssOpts := (dict "targetPath" "css/coder-rtl.css" ) }}
        {{ $styles := resources.Get "scss/coder-rtl.scss" | resources.ExecuteAsTemplate "style.coder-rtl.css" . | toCSS $cssOpts | minify | fingerprint }}
        <link
          rel="stylesheet"
          href="{{ $styles.RelPermalink }}"
          integrity="{{ $styles.Data.Integrity }}"
          crossorigin="anonymous"
          media="screen"
        />
      {{ end }}
    {{ end }}

    {{ if  or (eq .Site.Params.colorscheme "auto") (eq .Site.Params.colorscheme "dark") }}
      {{ if .Site.IsServer }}
        {{ $cssOpts := (dict "targetPath" "css/coder-dark.css" "enableSourceMap" true ) }}
        {{ $styles := resources.Get "scss/coder-dark.scss" | resources.ExecuteAsTemplate "style.coder-dark.css" . | toCSS $cssOpts }}
        <link
          rel="stylesheet"
          href="{{ $styles.RelPermalink }}"
          media="screen"
        />
      {{ else }}
        {{ $cssOpts := (dict "targetPath" "css/coder-dark.css" ) }}
        {{ $styles := resources.Get "scss/coder-dark.scss" | resources.ExecuteAsTemplate "style.coder-dark.css" . | toCSS $cssOpts | minify | fingerprint }}
        <link
          rel="stylesheet"
          href="{{ $styles.RelPermalink }}"
          integrity="{{ $styles.Data.Integrity }}"
          crossorigin="anonymous"
          media="screen"
        />
      {{ end }}
    {{ end }}

    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ . | relURL }}" />
    {{ end }}

    {{ if and .Params.custom_css .Permalink }}
      <link
        rel="stylesheet"
        href="{{ printf `%s%s` .Permalink `pagestyle.css` }}"
      />
    {{ end }}

    {{ range .Site.Params.custom_js }}
      <script src="{{ . | relURL }}"></script>
    {{ end }}


    <link
      rel="icon"
      type="image/png"
      href="{{ .Site.Params.favicon_32 | default "/images/favicon-32x32.png" | absURL }}"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ .Site.Params.favicon_16 | default "/images/favicon-16x16.png" | absURL }}
      "
      sizes="16x16"
    />

    {{ if gt (len .AlternativeOutputFormats) 0 -}}
      {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
      {{ end -}}
    {{ else }}
      {{ printf `<link rel="alternate" type="application/rss+xml" href="%s/%s" title="%s" />` .Site.BaseURL "index.xml" $.Site.Title | safeHTML }}
    {{ end -}}


    <link
      rel="stylesheet"
      media="print" 
      onload="this.media='all'"
      href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"
    />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"> -->

    {{ hugo.Generator }}
    <!-- google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6892599483138014"
     crossorigin="anonymous"></script>
  </head>
  {{ partial "google-analytics.html" . }}
  
  {{ $csClass := "colorscheme-light" }}
  {{ if eq .Site.Params.colorscheme "dark" }}
    {{ $csClass = "colorscheme-dark" }}
  {{ else if eq .Site.Params.colorscheme "auto" }}
    {{ $csClass = "colorscheme-auto" }}
  {{ end }}

  {{ $langClass := "en" }}
  {{ if eq .Language.LanguageName "EN" }}
    {{ $langClass = "en" }}
  {{ else if eq .Language.LanguageName "CN" }}
    {{ $langClass = "cn" }}
  {{ end }}
  
  <body class="{{ $langClass }} {{ $csClass }}{{ if .Site.Params.rtl }}rtl{{ end }}">
    {{ partial "float" . }}
    <main class="wrapper">
      {{ partial "header.html" . }}


      <div class="content">
        {{ block "content" . }}{{ end }}
      </div>

      {{ partial "footer.html" . }}
    </main>

    {{ if .Site.IsServer }}
      {{ $script := resources.Get "js/coder.js" }}
      <script src="{{ $script.RelPermalink }}"></script>
    {{ else }}
      {{ $script := resources.Get "js/coder.js" | minify | fingerprint }}
      <script
        src="{{ $script.RelPermalink }}"
        integrity="{{ $script.Data.Integrity }}"
      ></script>
    {{ end }}

    {{ partial "serviceworker.html" . }}
    {{ partial "search.html" . }}

  </body>
</html>
