{{ $image := "" }}
{{ if .Page.Params.hero_image }}
  {{ $image = printf "%s%s" .RelPermalink .Page.Params.hero_image }}
{{ else }}
  {{- with .Page.Params.images -}}
    {{ $image = printf "/%s"  (index . 0) }}
  {{- else -}}
    {{ $image = "default" }}
  {{- end -}}
{{ end }}


<li>
  <a class="img-wrapper" href="{{ .RelPermalink }}">
    {{ if eq $image "default" }}
      <svg width="100%" height="160" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:#4158D0;stop-opacity:1" />
            <stop offset="50%" style="stop-color:#C850C0;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#FFCC70;stop-opacity:1" />
          </linearGradient>
        </defs>
        <rect width="100%" height="100%" fill="url(#grad1)"/>
        <text x="50%" y="50%" fill="white" font-size="18" text-anchor="middle" dominant-baseline="middle">
          {{ .Title }}
        </text>
      </svg>
    {{ else }}
      <img src="/{{ .Site.Language.Lang }}{{ $image }}" />
    {{ end }}
  </a>
  <div>
    <h2><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p class="date">
      {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
    </p>
    <p>{{ .Page.Params.description }}</p>
  </div>
</li>
