{{ define "title" }}
  {{ .Title }} ·
  {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container posts-page">
    {{ partial "subnav.html" . }}

    {{ range .Pages.GroupByDate "2006" }}
      {{ if ne .Key "0001" }}
      <div class="posts-year-group">
        <div class="year-bg">{{ .Key }}</div>
        <ul class="posts-simple-list">
          {{ range .Pages.ByDate.Reverse }}
            {{ .Render "li" }}
          {{ end }}
        </ul>
      </div>
      {{ end }}
    {{ end }}
  </section>
{{ end }}
