{{- $items := slice -}}
{{- with .Site.Menus.main -}}
  {{- range . -}}
    {{- if or (eq .Identifier "blog") (eq .Name "博客") (eq .Name "Blog") -}}
      {{- $items = .Children -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if gt (len $items) 0 -}}
<nav class="section-tabs" aria-label="Blog sections">
  {{- $current := replaceRE "/$" "" .RelPermalink -}}
  {{- range sort $items -}}
    {{- $rawURL := .URL | relLangURL -}}
    {{- $target := replaceRE "/$" "" $rawURL -}}
    {{- $active := or (eq $current $target) (and (ne $target "") (hasPrefix $current (printf "%s/" $target))) -}}
    <a class="section-tab{{ if $active }} is-active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
  {{- end -}}
</nav>
{{- end -}}
