{{- if and .Site.Params.github_repo .File.Path -}}
  {{- $branch := default "master" .Site.Params.github_branch -}}
  {{- $repo := .Site.Params.github_repo -}}
  {{- $path := .File.Path -}}
  {{- $edit := printf "https://github.com/%s/edit/%s/content/%s" $repo $branch $path -}}
  <div class="content-source-actions" role="group" aria-label="Markdown source">
    <a
      class="content-source-btn"
      href="{{ $edit }}"
      target="_blank"
      rel="noopener noreferrer"
      title="Edit on GitHub"
    >
      <i class="fas fa-edit" aria-hidden="true"></i>
      <span class="content-source-btn-label">Edit</span>
    </a>
  </div>
{{- end -}}
