
<style>
  h2 {
    margin: 3.2rem 0 3.2rem 0;
  }
</style>
<section class="container centered">
  <div>
    <p>
      {{ i18n "homeTitle" }}
    </p>
    <p>
      {{ i18n "homeSubTitle1" }} <a href='/posts/'>{{ i18n "homeSubTitle2" }}</a>, <a href='https://github.com/XingMXTeam' target='_blank'>{{ i18n "homeSubTitle3" }}</a> {{ i18n "homeSubTitle4" }} <a href='/projects/'>{{ i18n "homeSubTitle5" }}</a>. {{ i18n "homeSubTitle6" }}
    </p>
    <div class="lists">
      <!-- <div>
        <h2>Most Popular Articles</h2>

        <ul>
          <li><a href="/">None</a></li>
        </ul>
      </div> -->
      <div>
        <h2>{{ i18n "homeCat1" }}</h2>
        <ul>
          <li><a href="/{{.Site.Language.Lang}}/detect-cycle-in-an-undirected-graph/">{{ T "homeCat1Article1" }}</a></li>
          <li><a href="/{{.Site.Language.Lang}}/find-the-total-number-of-unique-bsts-of-n/">{{ T "homeCat1Article2" }}</a></li>
         <!--  <li><a href="/human-code-reviews-1/">How to Do Code Reviews Like a Human</a></li>
          <li><a href="/good-developers-bad-tests/">Why Good Developers Write Bad Unit Tests</a></li>
          <li><a href="/painless-web-app-testing/">End-to-End Testing Web Apps: The Painless Way</a></li> -->
        </ul>
      </div>
      <div>
        <h2>{{ i18n "homeCat2" }}</h2>
        <ul>
          <li><a href="/{{.Site.Language.Lang}}/how-to-improve/">{{ T "homeCat2Article1" }}</a></li>
          <li><a href="/{{.Site.Language.Lang}}/how-to-improve2/">{{ T "homeCat2Article2" }}</a></li>
          <li><a href="/{{.Site.Language.Lang}}/how-to-improve4/">{{ T "homeCat2Article3" }}</a></li>
          <li><a href="/{{.Site.Language.Lang}}/how-to-improve5/">{{ T "homeCat2Article4" }}</a></li>
          <li><a href="/{{.Site.Language.Lang}}/how-to-improve3/">{{ T "homeCat2Article5" }}</a></li>
          <!-- <li><a href="/{{.Site.Language.Lang}}/how-to-be-different/">{{ T "homeCat2Article2" }}</a></li> -->
          <!-- <li><a href="/{{.Site.Language.Lang}}/how-to-work-hard/">{{ T "homeCat2Article3" }}</a></li> -->
        </ul>
      </div>
      <div>
      </div>
    </div>
  </div>
</section>

