<link
  rel="stylesheet"
  href="https://emailoctopus.com/bundles/emailoctopuslist/css/1.6/form.css"
/>
<style>
  .emailoctopus-form-wrapper {
    background: #f9f9f9;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5em;
    overflow: hidden;
    color: #666;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    box-shadow: none;
    clear: both;
    margin: 20px 0px;
    text-align: center;
    width: 100%;
    max-width: 100% !important;
    float: left;
    padding: 5%;
  }

  .emailoctopus-heading {
    text-align: center;
    margin: 0px 0px 10px;
    font-size: 28px;
    color: #707070;
  }
  .submit-btn {
    width: 100%;
    float: none;
    margin-top: 5px;
    color: #fff !important;
    padding: 11px 0px;
    font-size: 18px;
    background: #0d6db8 !important;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    text-shadow: none;
    height: 42px;
    max-width: 100% !important;
  }

  .emailoctopus-form-centered .emailoctopus-form-row input {
    max-width: 100% !important;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
  }
</style>
<div class="emailoctopus-form-wrapper emailoctopus-form-centered null">
  <h2 class="emailoctopus-heading">
    Be the first to know when I post cool stuff
  </h2>
  <p>Subscribe to get my latest posts by email.</p>
  <p class="emailoctopus-success-message"></p>
  <p class="emailoctopus-error-message"></p>
  <form
    action="https://emailoctopus.com/lists/a4e5f409-d1cd-11eb-96e5-06b4694bee2a/members/embedded/1.3s/add"
    method="post"
    data-message-success="Thanks for subscribing!"
    data-message-missing-email-address="Your email address is required."
    data-message-invalid-email-address="Your email address looks incorrect, please try again."
    data-message-bot-submission-error="This doesn't look like a human submission."
    data-message-consent-required="Please check the checkbox to indicate your consent."
    data-message-invalid-parameters-error="This form has missing or invalid fields."
    data-message-unknown-error="Sorry, an unknown error has occurred. Please try again later."
    class="emailoctopus-form"
    data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
  >
    <div class="emailoctopus-form-row">
      <input
        id="field_0"
        name="field_0"
        type="email"
        required="required"
        placeholder="Email address"
      />
    </div>
    <div aria-hidden="true" class="emailoctopus-form-row-hp">
      <input
        type="text"
        name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
        tabindex="-1"
        autocomplete="nope"
      />
    </div>
    <div class="emailoctopus-form-row-subscribe">
      <input type="hidden" name="successRedirectUrl" />
      <button
        type="submit"
        class="submit-btn"
        style='background-color: rgb(224, 224, 224); color: rgb(0, 0, 0); font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;'
      >
        Subscribe
      </button>
    </div>
  </form>
</div>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-recaptcha.js"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js"></script>
