<section class="social-sharing">
  <span class="share-label">{{ T "shareOn" }}</span>
  <a
    href="https://twitter.com/intent/tweet?via={{ .Site.Params.twitter }}&text={{ .Title }}%20{{ .Permalink }}"
    target="_blank" rel="noopener"
    class="share-link"
  >Twitter</a>
  <span class="share-sep">&middot;</span>
  <a
    href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
    target="_blank" rel="noopener"
    class="share-link"
  >Facebook</a>
  <span class="share-sep">&middot;</span>
  <a
    href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}"
    target="_blank" rel="noopener"
    class="share-link"
  >LinkedIn</a>
</section>
