{{ if .Params.custom_toc }}
<div class="toc-wrapper">
  <nav class="toc" id="toc">
    <nav id="TableOfContents">
      <ul>
        {{ range .Params.custom_toc }}
          <li>
            <a href="#{{ .title | anchorize }}">{{ .title }}</a>
            {{ if .children }}
              <ul>
                {{ range .children }}
                  <li><a href="#{{ .title | anchorize }}">{{ .title }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>
  </nav>
</div>
{{ else if .TableOfContents }}
<div class="toc-wrapper">
  <nav class="toc" id="toc">
    {{ .TableOfContents }}
  </nav>
</div>
{{ end }}