{{- if or ($.Params.images) ($.Params.hero_image) -}}
  <meta name="twitter:card" content="summary_large_image" />
  {{- with $.Params.images -}}
    {{- $image := index . 0 -}}
    <meta name="twitter:image" content="{{ strings.TrimSuffix "/" $.Site.BaseURL }}/{{ $.Site.LanguagePrefix }}/{{ $image }}">
  {{- else -}}
    {{- with $.Params.hero_image -}}
      <meta name="twitter:image" content="{{ strings.TrimSuffix "/" $.Site.BaseURL }}/{{ $.Site.LanguagePrefix }}/{{ . }}">
    {{- end -}}
  {{- end -}}
{{ end }}
{{ with .Site.Social.twitter }}
  <meta name="twitter:site" content="@{{ . }}" />
  <meta name="twitter:creator" content="@{{ . }}" />
{{ end }}
