{{ $src := .Get "src" }}
{{ $caption := .Get "caption" }}
{{ $maxWidth := .Get "max-width" }}

<figure class="video" {{- if $maxWidth }} style="max-width: {{ $maxWidth }}" {{ end -}}>
  <div class="video-inner" style="width: 100%;position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    {{- if hasPrefix $src "https://youtu.be/" -}}
    {{ $videoID := index (last 1 (split $src "/")) 0 }}
    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      src="https://www.youtube.com/embed/{{ $videoID }}" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    {{- else -}}
    <video controls style="width: 100%;">
      <source src="{{ $src }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    {{- end -}}
    {{ if $caption }}
    <figcaption>
      <p>{{ $caption | markdownify }}</p>
    </figcaption>
    {{ end }}
  </div>
</figure>